#chat-body .alt-header {
    background-color: #f4f0e4;
    box-sizing: border-box;
    position: fixed;
    z-index: 1;
    width: 100%;
}

.chat-body__bg {
    width: 100%;
    height: inherit;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    background-color: #f4f0e4;
}

@keyframes seaMove {
    to {
        background-position: -40px 0;
    }
}

@keyframes islandMove {
    50% {
        transform: translateY(37%);
    }
    100% {
        transform: translateY(39%);
    }
}

.bg__island {
    width: 25%;
    height: 20%;
    background-image: url("./img/island.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transform: translateY(40%);
    animation: islandMove 2s linear infinite;
    animation-direction: alternate;
}

.bg__sea {
    width: inherit;
    height: 20%;
    background-color: #b4d6e2;
    position: relative;
}

.bg__wave {
    width: inherit;
    position: relative;
}

.bg__wave::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 10px;
    background-repeat: repeat-x;
    background-size: 20px 40px;
    background-image: radial-gradient(
        circle at 10px -15px,
        transparent 20px,
        #b4d6e2 21px
    );
    animation: seaMove 5s linear infinite;
}

.bg__wave::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 15px;
    background-repeat: repeat-x;
    background-size: 40px 40px;
    background-image: radial-gradient(
        circle at 10px 26px,
        #b4d6e2 20px,
        transparent 21px
    );
    animation: seaMove 5s linear infinite;
}

@keyframes fadeIn {
    from {
        transform: translateY(30px);
        opacity: 0;
    }
    to {
        transform: none;
        opacity: 1;
    }
}

.chat-screen {
    padding-top: 100px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chat-screen > *:not(.reply-form) {
    animation: fadeIn 0.8s linear forwards;
}

.chat__timestamp {
    color: white;
    background-color: #92a4b2;
    padding: 15px;
    font-size: 14px;
    border-radius: 25px;
}

.message-row__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.message-row {
    width: 100%;
    flex-direction: column;
}

.message-row__other,
.message-row__me,
.message-row {
    display: flex;
}

.message-row__other,
.message-row__me {
    margin-top: 25px;
}

.message-row__me {
    justify-content: flex-end;
}

.message-row__profile {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
}

.message__author {
    margin-bottom: 5px;
    display: flex;
    padding: 5px 10px;
    color: #488b92;
    background-color: #acc9cf;
    border-radius: 20px;
    margin-right: auto;
    font-weight: 600;
}

.message__info {
    display: flex;
    align-items: flex-end;
}

.message__bubble {
    background-color: #ffc686;
    border: 3px solid white;
    color: white;
    padding: 13px;
    font-size: 18px;
    border-radius: 15px;
}

.message__time,
.message-author {
    opacity: 0.8;
    font-size: 14px;
}

.message-row__other .message__bubble {
    margin-right: 5px;
}

.message-row__me .message__bubble {
    background-color: var(--green);
    margin-left: 5px;
}

.message-row__me .message__info {
    flex-direction: row-reverse;
}

.message__notice {
    display: flex;
    flex-direction: column;
}

.message__unreaders {
    color: var(--yellow);
}

.message-row__me .message__unreaders {
    text-align: end;
}

.reply-form {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #ddddff;
    display: flex;
    justify-content: space-between;
    padding: 5px 25px;
    align-items: center;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

.reply-form .reply-form__column:first-child {
    width: 10%;
    transition: all 0.3s ease-in-out;
}

.reply-form .reply-form__column:last-child {
    width: 90%;
    position: relative;
}

.reply-form i {
    opacity: 0.5;
}

.reply-form input {
    padding: 14px;
    height: 40px;
    width: 100%;
    border: var(--main-border);
    border-color: transparent;
    background-color: #ffdeff;
    border-radius: 25px;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

.reply-form__column:last-child > i,
.reply-form__column:first-child i {
    font-size: 25px;
}

.reply-form__column:last-child > i,
.reply-form__column:last-child button {
    position: absolute;
    right: 5px;
    top: 3px;
}

.reply-form__column:last-child > i {
    right: 60px;
    top: 8px;
}

.reply-form__column button {
    background-color: var(--green);
    border: 3px solid white;
    color: white;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.reply-form__column button i {
    opacity: 1;
}

.reply-form__column button:focus,
.reply-form__column button:active {
    outline: none;
}

.reply-form .reply-form__column:first-child,
.reply-form .fa-smile,
.reply-form button {
    transition: opacity 0.3s ease-in-out;
}

.reply-form:focus-within .reply-form__column:first-child,
.reply-form:focus-within .fa-smile,
.reply-form:focus-within button {
    opacity: 0;
}

.reply-form:focus-within {
    transform: translateY(80px);
}

.reply-form:focus-within input {
    width: 91vw;
    transform: translateY(-80px) translateX(-9vw);
}
