#chat-body {
    background-color: #abc1d1;
    padding-bottom: 0;
}

#chat-body .alt-header {
    background-color: #abc1d1;
    box-sizing: border-box;
    position: fixed;
    z-index: 1;
    width: 100%;
}

.chat-screen {
    height: 1000vh;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chat__timestamp {
    color: white;
    background-color: #92a4b2;
    padding: 15px;
    font-size: 14px;
    border-radius: 25px;
}
