#chat-body {
    background-color: #abc1d1;
    padding-bottom: 60px;
}

#chat-body .alt-header {
    background-color: #abc1d1;
    box-sizing: border-box;
    position: fixed;
    z-index: 1;
    width: 100%;
}

.chat-screen {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chat__timestamp {
    color: white;
    background-color: #92a4b2;
    padding: 15px;
    font-size: 14px;
    border-radius: 25px;
}

.message-row {
    width: 100%;
    flex-direction: column;
}

.message-row__other,
.message-row__me,
.message-row {
    display: flex;
}

.message-row__other,
.message-row__me {
    margin-top: 25px;
}

.message-row__me {
    justify-content: flex-end;
}

.message-row img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
}

.message__author {
    margin-bottom: 5px;
    display: block;
}

.message__info {
    display: flex;
    align-items: flex-end;
}

.message__bubble {
    background-color: white;
    padding: 13px;
    font-size: 18px;
    border-radius: 15px;
}

.message__time,
.message-author {
    opacity: 0.8;
    font-size: 14px;
}

.message-row__other .message__bubble {
    margin-right: 5px;
}

.message-row__me .message__bubble {
    background-color: var(--yellow);
    margin-left: 5px;
}

.message-row__me .message__info {
    flex-direction: row-reverse;
}

.message__notice {
    display: flex;
    flex-direction: column;
}

.message__unreaders {
    color: var(--yellow);
}

.message-row__me .message__unreaders {
    text-align: end;
}

.reply-form {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 5px 25px;
    align-items: center;
    box-sizing: border-box;
}

.reply-form .reply-form__column:first-child {
    width: 10%;
}

.reply-form .reply-form__column:last-child {
    width: 90%;
    position: relative;
}

.reply-form i {
    opacity: 0.5;
}

.reply-form input {
    padding: 14px;
    height: 40px;
    width: 100%;
    border: var(--main-border);
    border-radius: 25px;
    box-sizing: border-box;
}

.reply-form__column:last-child > i,
.reply-form__column:first-child i {
    font-size: 25px;
}

.reply-form__column:last-child > i,
.reply-form__column:last-child button {
    position: absolute;
    right: 5px;
    top: 3px;
}

.reply-form__column:last-child > i {
    right: 60px;
    top: 8px;
}

.reply-form__column button {
    background-color: var(--yellow);
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.reply-form__column button i {
    opacity: 1;
}

.reply-form__column button:focus,
.reply-form__column button:active {
    outline: none;
}
