.welcome-header {
    margin: 40px 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-header__title {
    width: 300px;
    height: 150px;
    background-image: url("https://preview.redd.it/r9mmqqvsa5d51.png?width=902&format=png&auto=webp&s=52c407242ff6e8d245d1772234045b65050532cf");
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 40px;
    position: relative;
}

.welcome-header__main-title {
    width: 180px;
    height: 30px;
    color: #ffd050;
    font-size: 25px;
    font-weight: 700;
    position: absolute;
}

.welcome-header__main-title span {
    visibility: hidden;
}

.main-title__toom,
.main-title__took,
.main-title__talk {
    visibility: visible;
}

.main-title__toom span,
.main-title__nook span,
.main-title__talk span {
    position: absolute;
}

.main-title__toom span:nth-child(1) {
    left: 5px;
    top: -10px;
    visibility: visible;
    transform: rotate(-5deg);
    font-size: 35px;
}

.main-title__toom span:nth-child(1)::after {
    content: "Welcom to";
    width: 60px;
    top: 2px;
    position: absolute;
    color: white;
    font-size: 5px;
}

.main-title__toom span:nth-child(2) {
    top: -10px;
    left: 30px;
    visibility: visible;
    transform: rotate(-2deg);
    font-size: 30px;
}

.main-title__toom span:nth-child(3) {
    top: -5px;
    left: 55px;
    visibility: visible;
    transform: rotate(4deg);
    font-size: 30px;
}

.main-title__toom span:nth-child(4) {
    top: -5px;
    left: 80px;
    visibility: visible;
    transform: rotate(6deg);
    font-size: 30px;
}

.main-title__nook span:nth-child(1) {
    left: 0;
    top: 30px;
    visibility: visible;
    transform: rotate(6deg);
    font-size: 35px;
}

.main-title__nook span:nth-child(2) {
    left: 28px;
    top: 35px;
    transform: rotate(0deg);
    visibility: visible;
    font-size: 30px;
}

.main-title__nook span:nth-child(3) {
    left: 50px;
    top: 40px;
    transform: rotate(2deg);
    visibility: visible;
    font-size: 30px;
}

.main-title__nook span:nth-child(4) {
    left: 72px;
    top: 40px;
    transform: rotate(6deg);
    visibility: visible;
    font-size: 30px;
}

.main-title__talk span:nth-child(1) {
    left: 104px;
    top: 34px;
    transform: rotate(0deg);
    visibility: visible;
    font-size: 35px;
}

.main-title__talk span:nth-child(2) {
    left: 124px;
    top: 39px;
    transform: rotate(4deg);
    visibility: visible;
    font-size: 30px;
}

.main-title__talk span:nth-child(3) {
    left: 144px;
    top: 34px;
    transform: rotate(-20deg);
    visibility: visible;
    font-size: 30px;
}

.main-title__talk span:nth-child(4) {
    left: 154px;
    top: 24px;
    transform: rotate(-30deg);
    visibility: visible;
    font-size: 30px;
}

.welcome-header__text {
    width: 60%;
    opacity: 0.7;
}

#login-form {
    display: flex;
    flex-direction: column;
    margin: 0px 30px;
}

#login-form input {
    border: none;
    padding: 15px 0px;
    font-size: 18px;
}

#login-form input:not([type="submit"]) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    transition: border-color 0.3s ease-in-out;
    margin-bottom: 25px;
}

#login-form input::placeholder {
    color: rgba(0, 0, 0, 0.4);
}

#login-form input:focus {
    border-color: #8a9cf2;
}

/**
#login-form input[type="submit"] {
    background-color: var(--yellow);
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 10px;
}**/

#login-form a {
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
}

.login-form__submit {
    background-color: var(--green);
    border: 3px solid white;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 16px 0px;
    font-size: 18px;
}

@keyframes hideSplashScreen {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

#splash-screen {
    background-color: var(--yellow);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 132px;
    animation: hideSplashScreen 0.2s ease-in-out forwards;
    animation-delay: 2s;
}
