.sub-header span {
    padding-top: 5px;
    padding-bottom: 2px;
    color: black;
}

.more-suggestions__icons {
    display: flex;
}

.more-suggestions__icon {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

.more-suggestions__icon:hover {
    background-color: #f8f8f8;
}

.more-suggestions__icon-image img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}
