.nav-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #97d3e3;
    /* #f4f0e4; */
    /* #5cc2b5; */
    padding: 15px 50px;
    box-sizing: border-box;
}

.nav-bar__list {
    display: flex;
    justify-content: space-between;
}

@keyframes appearBtnAnimation {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: none;
        opacity: 1;
    }
}

.nav-bar__btn {
    opacity: 0;
    position: relative;
    animation: appearBtnAnimation 0.3s ease-in-out forwards;
}

.nav-bar__btn:nth-child(2) {
    animation-delay: 0.2s;
}

.nav-bar__btn:nth-child(3) {
    animation-delay: 0.5s;
}

.nav-bar__btn:last-child {
    animation-delay: 0.8s;
}

.nav-bar__link:not(.btn--choosed):hover {
    color: #909297;
}

.btn--choosed {
    color: #343740;
}

@keyframes notificationAnimation {
    0% {
        transform: none;
    }
    50% {
        transform: translateY(-5px) rotateY(360deg);
    }
    100% {
        transform: none;
    }
}

.nav-bar__notification {
    position: absolute;
    padding: 5px 7px;
    left: 20px;
    bottom: 15px;
    animation: notificationAnimation 2s ease-in-out infinite;
}

.nav-bar__indication {
    position: absolute;
    padding: 5px 7px;
    left: 30px;
    bottom: 15px;
}
