.nav-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f9f9fa;
    padding: 15px 50px;
    box-sizing: border-box;
    border-top: 1px solid rgba(121, 121, 121, 0.3);
}

.nav-bar__list {
    display: flex;
    justify-content: space-between;
}

.nav-bar__btn {
    position: relative;
}

.nav-bar__link:not(.btn--choosed):hover {
    color: #909297;
}

.btn--choosed {
    color: #343740;
}

.nav-bar__notification {
    position: absolute;
    padding: 5px 7px;
    left: 20px;
    bottom: 15px;
}

.nav-bar__indication {
    position: absolute;
    padding: 5px 7px;
    left: 30px;
    bottom: 15px;
}
