.user-component {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-component__column:first-child {
    display: flex;
}

.user-component:hover {
    background-color: #f8f8f8;
}

.user-component__avatar {
    width: 70px;
    height: 70px;
    border-radius: 30px;
    margin-right: 20px;
}

.user-component__title {
    font-weight: 600;
    font-size: 22px;
}

.user-component__text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.user-component_subtitle {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
}

.user-component__avatar--xl {
    width: 80px;
    height: 80px;
}

.user-component__avatar--sm {
    width: 60px;
    height: 60px;
    border-radius: 25px;
}

.user-component__title--not-bold {
    font-weight: 400;
}

.user-component__column:last-child {
    color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
}

.user-component img {
    cursor: pointer;
}

.user-component__time {
    display: block;
    margin-bottom: 10px;
}

.user-component__alert {
    margin-left: 15px;
    padding: 5px 7px;
}

.user-component__btn-gift {
    color: rgba(0, 0, 0, 0.8);
    padding: 3px 10px;
    border-radius: 20px;
    font-size: 18px;
    border: 1px solid #f5d1d3;
    cursor: pointer;
}

.user-component__btn-gift i {
    color: #ed9a9f;
}

.btn-gift__context-menu {
    text-align: center;
    color: #343740;
    position: absolute;
    width: 120px;
    height: 90px;
    bottom: -100px;
    border: 1px solid rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 20px;
}
.context-menu__column {
    padding: 8px 0px;
}

.context-menu__column:hover {
    background-color: #f8f8f8;
}

.btn-gift--choosed {
    border-color: #343740;
}
